<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSources>
        <add key="Carvana-All" value="https://repo.carvana.com/repository/Carvana-All/" />
    </packageSources>
    <packageSourceCredentials>
      <Carvana-All>
        <add key="Username" value="readonly" />
        <add key="ClearTextPassword" value="hu44Ww36GmP2uqN5xP" />
      </Carvana-All>
    </packageSourceCredentials>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <disabledPackageSources />
</configuration>